{% extends ':admin:layout.html.twig' %}

{% block content %}
    <div class="atttachment">
    	<div class="col-md-6">
    		<div class="box box-primary">
    			<div class="box-header with-border">
    				<h3 class="box-title">File attachement</h3>
    			</div>
			    <form role="form" action="{{ path('attachment') }}" method="post" {{ form_enctype(form) }}>
    				<div class="box-body">
			    		{{ form_errors(form) }}
			    		<div class="form-group">
							{{ form_label(form.name) }}
							{{ form_errors(form.name) }}
							{{ form_widget(form.name) }}
						</div>
			    		<div class="form-group">
							{{ form_label(form.file) }}
							{{ form_errors(form.file) }}
							{{ form_widget(form.file) }}
						</div>
			    	</div>
		    		<div class="box-footer">
						{{ form_rest(form) }}
					</div>
			    </form>
    			</div>
    		</div>
    	</div>
    </div>
{% endblock %}