<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Optimize Project Manager System{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets filter="scssphp" output="css/app.css"
        "%kernel.root_dir%/Resources/assets/scss/bootstrap.scss" filter='cssrewrite'
        "%kernel.root_dir%/Resources/assets/scss/font-awesome.scss" filter='cssrewrite'
        "%kernel.root_dir%/Resources/components/Ionicons/css/ionicons.min.css"
        "%kernel.root_dir%/Resources/components/AdminLTE/dist/css/AdminLTE.min.css"
        "%kernel.root_dir%/Resources/components/AdminLTE/dist/css/skins/_all-skins.min.css"
        "%kernel.root_dir%/Resources/components/datatables-bootstrap3-plugin/media/css/datatables-bootstrap3.min.css"
        "%kernel.root_dir%/Resources/components/select2/dist/css/select2.min.css"
        "%kernel.root_dir%/Resources/components/select2-bootstrap-css/select2-bootstrap.min.css"
        "%kernel.root_dir%/Resources/assets/css/*.css" %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <style type="text/css">
        .draggable { z-index: 999999 }
        .droppable { min-height: 70px; }
    </style>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">

{% block body %}{% endblock %}

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

{% block javascripts %}
    {% javascripts filter="?jsqueeze" output="js/app.js"
    "%kernel.root_dir%/Resources/components/jquery/dist/jquery.min.js"
    "%kernel.root_dir%/Resources/components/bootstrap/dist/js/bootstrap.min.js"
    "%kernel.root_dir%/Resources/components/AdminLTE/dist/js/app.min.js" %}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(function() {
            $( ".draggable" ).draggable({
                connectToSortable: '.droppable',
                revert: "invalid",
                cursor: "move"
            });
            
            $(".droppable")
                .droppable({
                    accept: ".draggable",
                    drop: function( event, ui ) {
                        changeStatus(event, ui.draggable)
                    }
                })
                .sortable({revert: true});

            function changeStatus(event, $item) {
                var newStatus = event.target.getAttribute('data-status'),
                    itemId    = $item.attr('data-id');

                $.post(Routing.generate('task_edit', {id:itemId}), { status: newStatus});
            }

        });
    </script>
{% endblock %}

</body>
</html>
