{% extends ':admin:layout.html.twig' %}

{% block body_class %}hold-transition skin-blue layout-top-nav{% endblock %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'project.name'|transchoice(2) }}</h3>
                    <div class="box-tools pull-right">
                        <a href="{{ path('app_project_export', {format: 'xlsx', 'fields': 'code,name,description'}) }}" target="_blank" class="btn btn-block btn-primary btn-sm">Export</a>
                    </div>
                </div>
                <div class="box-body">
                    <ul>
                        {% for project in projects %}
                            <li>
                                <p><a href="{{ path('project_kanban', {'code': project.code}) }}">{{ project.name }}</a> ({{ project.code }})</p>
                                <p><{{ 'project.member_lead'|trans }} {{ project.memberLead.username }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'task.task_in_progress'|trans({},'messages') }}</h3>
                </div>
                <div class="box-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{ 'task.type.name'|trans }}</th>
                                    <th>{{ 'task.code'|trans }}</th>
                                    <th>{{ 'task.summary'|trans }}</th>
                                    <th>{{ 'task.priority.name'|trans }}</th>
                                </tr>
                            </thead>
                            {% for task in tasks if task.status == Task.STATUS_IN_PROGRESS %}
                                <tr>
                                    <td><span class="label label-default">{{ ('task.type.' ~ task.type)|trans }}</span></td>
                                    <td><a href="{{ path('task_show', {'code': task.code}) }}">{{ task.code }}</a></td>
                                    <td><a href="{{ path('task_show', {'code': task.code}) }}">{{ task.summary }}</a></td>
                                    <td><span class="label label-default">{{ ('task.priority.' ~ task.priority)|trans }}</span></td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="4">{{ 'task.no_tasks_assigned'|trans }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'task.tasks_assigned_to_me'|trans }}</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>{{ 'task.type.name'|trans }}</th>
                                <th>{{ 'task.code'|trans }}</th>
                                <th>{{ 'task.summary'|trans }}</th>
                                <th>{{ 'task.priority.name'|trans }}</th>
                                <th>{{ 'task.status.name'|trans }}</th>
                            </tr>
                            </thead>
                            {% for task in tasks %}
                                <tr>
                                    <td><span class="label label-default">{{ ('task.type.' ~ task.type)|trans }}</span></td>
                                    <td><a href="{{ path('task_show', {'code': task.code}) }}">{{ task.code }}</a></td>
                                    <td><a href="{{ path('task_show', {'code': task.code}) }}">{{ task.summary }}</a></td>
                                    <td>{{ ('task.priority.' ~ task.priority)|trans }}</td>
                                    <td><span class="label label-default">{{ ('task.status.' ~ task.status)|trans }}</span></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">{{ 'task.no_tasks_assigned'|trans }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}