{% extends ':admin:layout.html.twig' %}

{% block content %}
<div class="atttachment">
    <div class="content">
    		
    <div class="row">
		<section class="content-header">
			<h1>
				KABAN
				<small>Project name</small>
			</h1>
		</section>
    		
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Todo</h3>
				</div>

				<div class="box-body">
					<ul class="products-list product-list-in-box droppable">
						{% for task in tasks.todo %}
						<li class="item draggable">
							<div class="product-img">
								<img src="dist/img/default-50x50.gif" alt="Product Image">
							</div>
							<div class="product-info">
								<a href="javascript::;" class="product-title">
									{{ task.labels }}
									<span class="label label-warning pull-right">...</span>
								</a>
								<span class="product-description">
									{{ task.status }}
								</span>
							</div>
						</li>
						{% endfor %}
					</ul>
				</div>

				<div class="box-footer text-center">
					<a href="javascript::;" class="uppercase">View All Products</a>
				</div>
			</div>	          
    	</div>

    	<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">In progress</h3>
				</div>

				<div class="box-body">
					<ul class="products-list product-list-in-box droppable">
						{% for task in tasks.progress %}
						<li class="item draggable">
							<div class="product-img">
								<img src="dist/img/default-50x50.gif" alt="Product Image">
							</div>
							<div class="product-info">
								<a href="javascript::;" class="product-title">
									{{ task.labels }}
									<span class="label label-warning pull-right">...</span>
								</a>
								<span class="product-description">
									{{ task.status }}
								</span>
							</div>
						</li>
						{% endfor %}
					</ul>
				</div>

				<div class="box-footer text-center">
					<a href="javascript::;" class="uppercase">View All Products</a>
				</div>
			</div>	          
    	</div>

    	<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Done</h3>
				</div>

				<div class="box-body">
					<ul class="products-list product-list-in-box droppable">
						{% for task in tasks.done %}
						<li class="item draggable">
							<div class="product-img">
								<img src="dist/img/default-50x50.gif" alt="Product Image">
							</div>
							<div class="product-info">
								<a href="javascript::;" class="product-title">
									{{ task.labels }}
									<span class="label label-warning pull-right">...</span>
								</a>
								<span class="product-description">
									{{ task.status }}
								</span>
							</div>
						</li>
						{% endfor %}
					</ul>
				</div>

				<div class="box-footer text-center">
					<a href="javascript::;" class="uppercase">View All Products</a>
				</div>
			</div>	          
    	</div>

	</div>
</div>

{% endblock %}