    {% extends '::base.html.twig' %}

{% block body_class %}hold-transition skin-blue sidebar-collapse sidebar-mini{% endblock %}

{% block body %}
    <!-- Site wrapper -->
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="../../index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><i class="fa fa-thumb-tack"></i></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">O.P.M.S</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                {% if project is defined %}
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                {% endif %}

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li>
                            <a href="{{ path('dashboard') }}">
                                <i class="fa fa-dashboard"></i> <span>{{ 'layout.dashboard'|trans({},'messages') }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('projects') }}">
                                <i class="fa fa-dashboard"></i> <span>{{ 'project.name'|transchoice(2) }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('tasks') }}">
                                <i class="fa fa-dashboard"></i> <span>{{ 'task.name'|transchoice(2) }}</span>
                            </a>
                        </li>
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="http://fakeimg.pl//100x100/282828/eae0d0/?text=Avatar" class="user-image" alt="User Image">
                                <span class="hidden-xs">{{ app.user.username }}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        Se déconnecter
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        {% if project is defined %}
            <!-- Left side column. contains the sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="header">MAIN NAVIGATION</li>
                        <li>
                            <a href="{{ path('project_kanban', {'code': project.code}) }}">
                                <i class="fa fa-dashboard"></i> <span> Kanban board</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('project_sprints', {'code': project.code}) }}">
                                <i class="fa fa-files-o"></i> <span> {{ 'sprint.name'|transchoice(2) }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('project_tasks', {'code': project.code}) }}">
                                <i class="fa fa-edit"></i> <span> {{ 'task.name'|transchoice(2) }}</span>
                            </a>
                        </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
        {% endif %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            {% block content %}
            {% endblock %}
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.1
            </div>
            <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
            reserved.
        </footer>

        {% if project is defined %}<div class="control-sidebar-bg"></div>{% endif %}
    </div>
{% endblock %}