{% extends ':admin:layout.html.twig' %}

{% block content %}
    <section class="content-header">
        <h1>{{ sprint.version }}</h1>
        <p>
            <span><i class="fa fa-calendar"></i> Start: {{ sprint.startDate|date }}</span>
            <span><i class="fa fa-calendar"></i> End: {{ sprint.endDate|date }}</span>
        </p>
        <p>{{ sprint.description }}</p>
    </section>
    <section class="content">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>{{ 'task.priority.name'|trans }}</th>
                <th>{{ 'task.type.name'|trans }}</th>
                <th>{{ 'task.code'|trans }}</th>
                <th>{{ 'task.summary'|trans }}</th>
                <th>{{ 'task.assignee'|trans }}</th>
                <th>{{ 'task.status.name'|trans }}</th>
            </tr>
            </thead>
            {% for task in sprint.tasks %}
                <tr>
                    <td>{{ ('task.priority.' ~ task.priority)|trans }}</td>
                    <td>{{ ('task.type.' ~ task.type)|trans }}</td>
                    <td><a href="{{ path('task_show', {'code': task.code}) }}">{{ task.code }}</a></td>
                    <td><a href="{{ path('task_show', {'code': task.code}) }}">{{ task.summary }}</a></td>
                    <td>{{ task.assignee.username }}</td>
                    <th><span class="label label-default">{{ ('task.status.' ~ task.status)|trans }}</span></th>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ 'task.no_tasks_assigned'|trans }}</td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}