{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body_class 'hold-transition register-page' %}

{% block title %}{{ parent() }} - Login{% endblock %}

{% block body %}
    <div class="register-box">
        <div class="register-box-body">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}