.project_card {
  color: #FFF;
  height: 100px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  line-height: 100px;
  margin-bottom: 15px;
  background-color: #2574A9;
  &:hover {
    box-shadow: 0 0.5px 3px #000;
    transition-duration: 0.5s;
  }
}