html, body {
  height: 100%;
  .login-page, .register-page {
    background-image: url('/bundles/app/img/login_background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .logendblockin-box {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background-color: rgba(0,0,0, 0.3);
      .login-box-body {
        width: 400px;
        box-shadow: 0 0.5px 3px #000
      }
    }
  }
}