{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body_class 'hold-transition login-page' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter="scssphp" output="css/app.css"
    "%kernel.root_dir%/Resources/assets/scss/login.scss" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block title %}{{ parent() }} - Login{% endblock %}

{% block body %}
    <div class="logendblockin-box">
        {% if error %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <div class="login-box-body">
            <p class="login-box-msg">Optimize Project Manager System</p>
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <div class="form-group has-feedback">
                    <input type="text" id="username" name="_username" value="{{ last_username }}"
                           class="form-control" placeholder="{{ 'security.login.username'|trans }}"/>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" id="password" name="_password" class="form-control"
                           placeholder="{{ 'security.login.password'|trans }}">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="_remember_me"
                                   value="on"> {{ 'security.login.remember_me'|trans }}
                        </label>
                    </div>
                </div>
                <div class="col-xs-offset-6 col-xs-6">
                    <button type="submit" name="_submit"
                            class="btn btn-primary btn-block btn-flat">{{ 'security.login.submit'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}