{% extends ':admin:layout.html.twig' %}

{% block content %}
<section class="content-header">
	<h1>{{ 'kanban.title'|trans }}</h1>
</section>
<section class="content">
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title"><span class="label label-primary">{{ tasks.todo|length }}</span> {{ 'kanban.todo'|trans }}</h3>
			</div>

			<div class="box-body">
				<ul class="products-list product-list-in-box droppable" data-status="open">
					{% for task in tasks.todo %}
					<li class="item draggable" data-id="{{ task.id }}">
						<a href="{{ path('task_show', {'code': task.code}) }}" class="product-title">
							{{ task.labels }}
							<span class="label label-primary pull-right">{{ ('task.status.' ~ task.status)|trans }}</span>
						</a>
						<span class="product-description">
							{{ task.description }}
						</span>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title"><span class="label label-primary">{{ tasks.progress|length }}</span> {{ 'kanban.in progress'|trans }}</h3>
			</div>

			<div class="box-body">
				<ul class="products-list product-list-in-box droppable" data-status="in progress">
					{% for task in tasks.progress %}
					<li class="item draggable" data-id="{{ task.id }}">
						<a href="{{ path('task_show', {'code': task.code}) }}" class="product-title">
							{{ task.labels }}
							<span class="label label-primary pull-right">{{ ('task.status.' ~ task.status)|trans }}</span>
						</a>
						<span class="product-description">
							{{ task.description }}
						</span>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title"><span class="label label-primary">{{ tasks.done|length }}</span> {{ 'kanban.done'|trans }}</h3>
			</div>

			<div class="box-body">
				<ul class="products-list product-list-in-box droppable" data-status="closed">
					{% for task in tasks.done %}
					<li class="item draggable" data-id="{{ task.id }}">
							<a href="{{ path('task_show', {'code': task.code}) }}" class="product-title">
								{{ task.labels }}
								<span class="label label-primary pull-right">{{ ('task.status.' ~ task.status)|trans }}</span>
							</a>
							<span class="product-description">
								{{ task.description }}
							</span>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</section>
{% endblock %}