{% extends ':admin:layout.html.twig' %}

{% block content %}
    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Projects</h3>
            </div>
            <div class="box-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th width="100">Actions</th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Member lead</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in projects %}
                        <tr data-id="{{ project.id }}">
                            <td>
                                <button class="btn btn-primary btn-sm jQOpenModalForm" type="button">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button class="btn btn-danger btn-sm jQDelete" type="button">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                            <td>{{ project.name }}</td>
                            <td>{{ project.code }}</td>
                            <td>{{ project.memberLead }}</td>
                            <td>{{ project.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <div id="modalSave" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-light-blue">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Default Modal</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary jQSave">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('body').on('click', '.jQOpenModalForm', function () {
            var jQModal = $("#modalSave");
            $.get(Routing.generate('project_form'), function(formHtml) {
                jQModal.find('.modal-body').html(formHtml);
                jQModal.modal();
            });
        });
        $('body').on('click', '#modalSave .jQSave', function() {
            var jQForm = $(this).parents('.modal').find('form'),
                data = jQForm.serializeArray(),
                dataFormated = {};

            $.each(data, function() {
                var fullName = this.name,
                        regex = new RegExp(/\[(\w+)\]/gi),
                        match = regex.exec(fullName),
                        name = match[1];

                if (name !== '_token') {
                    console.log(fullName.slice(-2));
                    if (fullName.slice(-2) == '[]') {
                        if (dataFormated[name] === undefined) {
                            dataFormated[name] = [];
                        }
                        dataFormated[name].push(this.value);
                    } else {
                        dataFormated[name] = this.value;
                    }
                }
            });
            $.post(Routing.generate('app_project_create'), dataFormated, function(response) {
                location.reload();
            });
        });
        $('body').on('click', '.jQDelete', function () {
            var jQTr = $(this).parents('tr'),
                    id = parseInt(jQTr.attr('data-id'));

            $.ajax({
                url: Routing.generate('app_project_delete', {id: id}),
                type: 'DELETE',
                success: function (response) {
                    console.log(response);
                    jQTr.remove();
                }
            });
        });
    </script>
{% endblock %}