{% extends ':admin:layout.html.twig' %}

{% block content %}
    {#<section class="content-header">#}
        {#<h1>Sprints</h1>#}
    {#</section>#}
    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'sprint.name'|transchoice(2) }}</h3>
            </div>
            <div class="box-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{ 'sprint.version'|trans }}</th>
                            <th>{{ 'sprint.status'|trans }}</th>
                            <th>{{ 'sprint.progress'|trans }}</th>
                            <th>{{ 'sprint.start_date'|trans }} </th>
                            <th>{{ 'sprint.release_date'|trans }} </th>
                            <th>{{ 'sprint.description'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sprint in sprints %}
                            <tr>
                                <td><a href="{{ path('sprint_show', {'version': sprint.version}) }}">{{ sprint.version }}</a></td>
                                <td>{{ sprint.status }}</td>
                                <td>
                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
                                    </div>
                                </td>
                                <td>{{ sprint.startDate|date }}</td>
                                <td>{{ sprint.endDate|date }}</td>
                                <td>{{ sprint.description }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
     </section>
{% endblock %}