{% extends ':admin:layout.html.twig' %}

{% block content %}
    <section class="content-header">
        <p class="lead"><a href="#">{{ task.project.name }}</a></p>
        <h1>{{ task.summary }}</h1>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header with-border">

                <button class="btn btn-default">Edit</button>
                <button class="btn btn-default">Attach files</button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Assign <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for user in users %}
                            <li>
                                <a href="{{ path('task_assign', {'taskCode':task.code, 'userId':user.id }) }}">
                                    {{ user.username }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <button class="btn btn-default">Stop progress</button>
                <a href="{{ path('task_status', {'taskCode':task.code, 'status':'resolved'}) }}" class="btn btn-default">Resolve task</a>
                <a href="{{ path('task_status', {'taskCode':task.code, 'status':'closed'}) }}" class="btn btn-default">Close task</a>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <p>Details</p>
                        <hr />
                        <p>Type: {{ task.type }}</p>
                        <p>Status: {{ task.status }}</p>
                        <p>Priority: {{ task.priority }}</p>
                        <p>Labels: {{ task.labels|join(', ') }}</p>
                    </div>
                    <div class="col-md-6">
                        <p>People</p>
                        <hr />
                        <p>Assignee: {{ task.assignee.username }}</p>
                        <p>Reporter: {{ task.reporter.username }}</p>
                        <p>Date</p>
                        <hr />
                        <p>Created: {{ task.created|date("d/M/Y") }}</p>
                        <p>Updated: {{ task.updated|date("d/M/Y") }}</p>
                        <p>Time Tracking</p>
                        <hr />
                        <p>Estimated: {{ task.estimated }}</p>
                        <p>Remaining: {{ task.remaining }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ task.description }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Activity</p>
                        {% for comment in task.comments %}
                            <div>
                                <p>{{ comment.user.username }} added a comment {{ comment.created|date("d/M/Y") }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}